{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <img class="s" src="{% static 'img/baner.png'%}">
    <p class="about">Зафиксировать нарушение правил дорожного движения можно двумя
способами:
фотофиксация;
видеофиксация.
Отмечу, что если речь идет о фиксации нарушения правил остановки или
стоянки(парковки), то проблем обычно не возникает. Поскольку автомобиль
нарушителя не движется, Вы можете без проблем сфотографировать его с
любого ракурса.
Тем не менее обратите внимание на следующие особенности:
На фото или видео должны быть видны государственные
регистрационные знаки (номера) автомобиля. Это необходимо для того,
чтобы в ГИБДД поняли, на кого накладывать штраф.
Должно быть четко видно нарушение правил дорожного движения.
Чтобы в ГИБДД поняли, за что наказывать. Например, если автомобиль
остановился под запрещающим знаком, то его нужно сфотографировать на
фоне этого знака.
В данном случае лучше сделать побольше фотографий и впоследствии
выбрать лучшие.
Кроме того, очень хорошо, если Ваш фотоаппарат или смартфон
автоматически фиксирует место нарушения (по GPS или ГЛОНАСС), а также
его время и записывает эту информацию в файл фотографии. Если подобной
функции нет, запишите время и место нарушения вручную.
Второй возможный вариант - Вы случайно засняли на видеорегистратор
нарушение другого транспортного средства. Например, выезд на встречную
полосу движения. В данном случае собрать дополнительные доказательства
не получится. Поэтому внимательно просмотрите видео, чтобы понять,
содержит ли оно всю необходимую информацию (номера нарушителя и сам
факт нарушения). Если на видео плохо видно номера или допущенное
нарушение, то обращаться в ГИБДД не имеет смысла.
После того, как Вы собрали доказательства можно переходить
непосредственно к обращению в ГИБДД.
ОГИБДД МО МВД России «Хоринский»</p>
{% endblock %}